[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.6"
